body{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
.main{
	padding: 5px 5px;
    margin: 5px 20px;
    outline-style: inset;
    #a{
        text-align: center;
        text-decoration: overline;
	text-transform: capitalize;
    text-indent: 70px;
    
    }
    #b{
        text-align: left;	
	text-decoration:underline;
	text-transform: uppercase;
    }
    #c{
	text-decoration:line-through;
        text-align: right;
	text-transform: lowercase;
    }
	
}
p{
    letter-spacing: 5px;
    text-indent: 10px;
}
